In [97]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import tpot
import pickle
import warnings
warnings.simplefilter("ignore")

In [98]:
data = pd.read_csv('Employee Attrition.csv')

In [99]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [100]:
#import dtale

In [101]:
#d = dtale.show(data)
#d.open_browser()

In [102]:
#import sweetviz as sv

In [103]:
#my_report = sv.analyze(data)

In [104]:
#my_report.show_notebook() to see in notebook
#my_report.show_html('EDA.html')

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [106]:
data = data.drop(columns=['EmployeeCount','Over18','StandardHours','EmployeeNumber','HourlyRate','MonthlyRate'])

In [107]:
#num_col = list(data.select_dtypes(include = 'int64').columns)

In [108]:
#obj_col = list(data.select_dtypes(exclude='int64').columns)

In [109]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
Gender                      object
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [110]:
def get_obj_col(df):
    return list(df.select_dtypes(include='object').columns)

In [111]:
def get_cat_col(df):
    return list(df.select_dtypes(include='category').columns)

In [112]:
#Convert Object type columns into categorical type
def convert_obj_cat(df):
    obj_col = get_obj_col(df)
    df[obj_col] = df[obj_col].astype('category')
    return df

In [113]:
def encode_data(df):
    cat_col = get_cat_col(df)
    for col in cat_col:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        lable_file = col + 'label_encoder.pkl'

        with open(lable_file, 'wb') as file:  
            pickle.dump(le, file)
    
    return df

In [114]:
def transform_data_clean(df):
    return encode_data(convert_obj_cat(df))

In [115]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [116]:
#data[obj_col] = data[obj_col].astype('category')
data = transform_data_clean(data)

In [117]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,2,0,...,3,1,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,3,1,...,4,4,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,1,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,4,0,...,3,3,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,1,...,3,4,1,6,3,3,2,2,2,2

In [118]:
data.dtypes

Age                         int64
Attrition                   int32
BusinessTravel              int32
DailyRate                   int64
Department                  int32
DistanceFromHome            int64
Education                   int64
EducationField              int32
EnvironmentSatisfaction     int64
Gender                      int32
JobInvolvement              int64
JobLevel                    int64
JobRole                     int32
JobSatisfaction             int64
MaritalStatus               int32
MonthlyIncome               int64
NumCompaniesWorked          int64
OverTime                    int32
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [119]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,2,0,...,3,1,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,3,1,...,4,4,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,1,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,4,0,...,3,3,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,1,...,3,4,1,6,3,3,2,2,2,2

In [120]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('Attrition',axis=1), data['Attrition'], test_size=0.25)

In [122]:
print(f'Size -> Train Data: {X_train.shape}, Test Data:{X_test.shape}, Train Output: {y_train.shape}, Test Output: {y_test.shape}')

Size -> Train Data: (1102, 28), Test Data:(368, 28), Train Output: (1102,), Test Output: (368,)

In [123]:
model = tpot.TPOTClassifier(generations=5, scoring='recall', verbosity=2, random_state=123)

In [124]:
model.fit(X_train, y_train)

Optimization Progress:   0%|          | 0/600 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 1.0

Generation 2 - Current best internal CV score: 1.0

Generation 3 - Current best internal CV score: 1.0

Generation 4 - Current best internal CV score: 1.0

Generation 5 - Current best internal CV score: 1.0

Best pipeline: GaussianNB(RBFSampler(input_matrix, gamma=0.0))

TPOTClassifier(generations=5, random_state=123, scoring='recall', verbosity=2)

In [125]:
# export the best model
model.export('tpot_best_model.py')

In [126]:
#import pandas as pd
#from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.kernel_approximation import RBFSampler
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.naive_bayes import GaussianNB
from tpot.export_utils import set_param_recursive
from sklearn.metrics import recall_score,accuracy_score,precision_score,roc_auc_score

In [134]:
# NOTE: Make sure that the outcome column is labeled 'target' in the data file
tpot_data = pd.read_csv('Employee Attrition.csv').drop(columns=['EmployeeCount','Over18','StandardHours','EmployeeNumber','HourlyRate','MonthlyRate'])

#Convert Object Colums to Categorical and then in Numeric format for model

tpot_data = transform_data_clean(tpot_data)

features = tpot_data.drop('Attrition', axis=1)

training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['Attrition'], random_state=123)

In [135]:
# Average CV score on the training set was: 0.739327731092437
exported_pipeline = make_pipeline(
    MinMaxScaler(),
    MultinomialNB(alpha=0.1, fit_prior=False)
)

In [136]:
# Fix random state for all the steps in exported pipeline
set_param_recursive(exported_pipeline.steps, 'random_state', 123)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

In [137]:
# Average CV score on the training set was: 1.0
exported_pipeline1 = make_pipeline(
    PolynomialFeatures(degree=2, include_bias=False, interaction_only=False),
    SGDClassifier(alpha=0.01, eta0=0.01, fit_intercept=True, l1_ratio=0.25, learning_rate="invscaling", loss="squared_hinge", penalty="elasticnet", power_t=10.0)
)

In [138]:
# Fix random state for all the steps in exported pipeline
set_param_recursive(exported_pipeline1.steps, 'random_state', 123)

exported_pipeline1.fit(training_features, training_target)
results = exported_pipeline1.predict(testing_features)

In [139]:
# Average CV score on the training set was: 1.0
exported_pipeline2 = make_pipeline(
    RBFSampler(gamma=0.0),
    GaussianNB()
)

In [140]:
# Fix random state for all the steps in exported pipeline
set_param_recursive(exported_pipeline2.steps, 'random_state', 123)

exported_pipeline2.fit(training_features, training_target)
results = exported_pipeline2.predict(testing_features)

In [141]:
exported_pipeline.score(testing_features,testing_target)

0.7472826086956522

In [142]:
exported_pipeline1.score(testing_features,testing_target)

0.8695652173913043

In [143]:
exported_pipeline2.score(testing_features,testing_target)

0.13043478260869565

In [144]:
accuracy_score(testing_target,exported_pipeline.predict(testing_features))

0.7472826086956522

In [145]:
accuracy_score(testing_target,exported_pipeline1.predict(testing_features))

0.8695652173913043

In [146]:
accuracy_score(testing_target,exported_pipeline2.predict(testing_features))

0.13043478260869565

In [147]:
recall_score(testing_target,exported_pipeline.predict(testing_features))

0.8333333333333334

In [148]:
recall_score(testing_target,exported_pipeline1.predict(testing_features))

0.0

In [149]:
recall_score(testing_target,exported_pipeline2.predict(testing_features))

1.0

In [150]:
precision_score(testing_target,exported_pipeline.predict(testing_features))

0.32

In [151]:
precision_score(testing_target,exported_pipeline1.predict(testing_features))

0.0

In [152]:
precision_score(testing_target,exported_pipeline2.predict(testing_features))

0.13043478260869565

In [153]:
roc_auc_score(testing_target,exported_pipeline.predict(testing_features))

0.7838541666666667

In [154]:
roc_auc_score(testing_target,exported_pipeline1.predict(testing_features))

0.5

In [155]:
roc_auc_score(testing_target,exported_pipeline2.predict(testing_features))

0.5

In [75]:
#Save Model in Pickle file
model_pkl_file = 'emp_attrition_model.pkl'


with open(model_pkl_file, 'wb') as file:  
    pickle.dump(exported_pipeline, file)