In [80]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pickle
import warnings
warnings.simplefilter("ignore")

In [81]:
# load model from pickle file

model_pkl_file = 'emp_attrition_model.pkl' 

with open(model_pkl_file, 'rb') as file:  
    model = pickle.load(file)

In [82]:
test_data = pd.read_csv('Employee Attrition.csv').drop(columns=['EmployeeCount','Over18','StandardHours'])

In [83]:
test_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,3,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,4,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,2,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,4,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,2,...,3,1,0,6,3,4,4,3,1,2

In [84]:
def get_obj_col(df):
    return list(df.select_dtypes(include='object').columns)

In [85]:
def get_cat_col(df):
    return list(df.select_dtypes(include='category').columns)

In [86]:
#Convert Object type columns into categorical type
def convert_obj_cat(df):
    obj_col = get_obj_col(df)
    df[obj_col] = df[obj_col].astype('category')
    return df

In [87]:
def encode_data(df):
    le = LabelEncoder()
    cat_col = get_cat_col(df)
    for col in cat_col:
        df[col] = le.fit_transform(df[col])
    return df

In [88]:
test_data = convert_obj_cat(test_data)
test_data = encode_data(test_data)

In [89]:
from sklearn.metrics import recall_score,accuracy_score,auc,precision_score,roc_auc_score

In [90]:
pred = model.predict(test_data.drop('Attrition',axis=1))
target = test_data['Attrition']

In [91]:
accuracy_score(target,pred)

0.7244897959183674

In [92]:
recall_score(target,pred)

0.7552742616033755

In [93]:
model.predict(test_data.drop('Attrition',axis=1))

array([1, 0, 1, ..., 1, 0, 0])