In [126]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import tpot
import pickle
import warnings
warnings.simplefilter("ignore")

In [127]:
data = pd.read_csv('Employee Attrition.csv')

In [128]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [129]:
#import dtale

In [130]:
#d = dtale.show(data)
#d.open_browser()

In [131]:
#import sweetviz as sv

In [132]:
#my_report = sv.analyze(data)

In [133]:
#my_report.show_notebook() to see in notebook
#my_report.show_html('EDA.html')

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [135]:
data = data.drop(columns=['EmployeeCount','Over18','StandardHours'])

In [136]:
#num_col = list(data.select_dtypes(include = 'int64').columns)

In [137]:
#obj_col = list(data.select_dtypes(exclude='int64').columns)

In [138]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [139]:
def get_obj_col(df):
    return list(df.select_dtypes(include='object').columns)

In [140]:
def get_cat_col(df):
    return list(df.select_dtypes(include='category').columns)

In [141]:
#Convert Object type columns into categorical type
def convert_obj_cat(df):
    obj_col = get_obj_col(df)
    df[obj_col] = df[obj_col].astype('category')
    return df

In [142]:
def encode_data(df):
    le = LabelEncoder()
    cat_col = get_cat_col(df)
    for col in cat_col:
        df[col] = le.fit_transform(df[col])
    return df

In [143]:
#data[obj_col] = data[obj_col].astype('category')
data = convert_obj_cat(data)

In [144]:
data.dtypes

Age                            int64
Attrition                   category
BusinessTravel              category
DailyRate                      int64
Department                  category
DistanceFromHome               int64
Education                      int64
EducationField              category
EmployeeNumber                 int64
EnvironmentSatisfaction        int64
Gender                      category
HourlyRate                     int64
JobInvolvement                 int64
JobLevel                       int64
JobRole                     category
JobSatisfaction                int64
MaritalStatus               category
MonthlyIncome                  int64
MonthlyRate                    int64
NumCompaniesWorked             int64
OverTime                    category
PercentSalaryHike              int64
PerformanceRating              int64
RelationshipSatisfaction       int64
StockOptionLevel               int64
TotalWorkingYears              int64
TrainingTimesLastYear          int64
WorkLifeBalance                int64
YearsAtCompany                 int64
YearsInCurrentRole             int64
YearsSinceLastPromotion        int64
YearsWithCurrManager           int64
dtype: object

In [145]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,3,4,1,6,3,3,2,2,2,2

In [146]:
data = encode_data(data)

In [147]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,2,...,3,1,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,2,3,...,4,4,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,4,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,5,4,...,3,3,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,7,1,...,3,4,1,6,3,3,2,2,2,2

In [148]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('Attrition',axis=1), data['Attrition'], test_size=0.25)

In [149]:
print(f'Size -> Train Data: {X_train.shape}, Test Data:{X_test.shape}, Train Output: {y_train.shape}, Test Output: {y_test.shape}')

Size -> Train Data: (1102, 31), Test Data:(368, 31), Train Output: (1102,), Test Output: (368,)

In [151]:
model = tpot.TPOTClassifier(generations=5, scoring='recall', verbosity=2, random_state=123)

In [152]:
model.fit(X_train, y_train)

Optimization Progress:   0%|          | 0/600 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.7105882352941177

Generation 2 - Current best internal CV score: 0.7337815126050421

Generation 3 - Current best internal CV score: 0.739327731092437

Generation 4 - Current best internal CV score: 0.739327731092437

Generation 5 - Current best internal CV score: 0.739327731092437

Best pipeline: MultinomialNB(MinMaxScaler(input_matrix), alpha=0.1, fit_prior=False)

TPOTClassifier(generations=5, random_state=123, scoring='recall', verbosity=2)

In [153]:
# export the best model
model.export('tpot_best_model.py')

In [232]:
import numpy as np
#import pandas as pd
#from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler
from tpot.export_utils import set_param_recursive
from sklearn.metrics import recall_score,accuracy_score,precision_score,roc_auc_score

In [214]:
# NOTE: Make sure that the outcome column is labeled 'target' in the data file
tpot_data = pd.read_csv('Employee Attrition.csv').drop(columns=['EmployeeCount','Over18','StandardHours'])

#Convert Object Colums to Categorical and then in Numeric format for model
tpot_data = convert_obj_cat(tpot_data)
tpot_data = encode_data(tpot_data)

features = tpot_data.drop('Attrition', axis=1)
training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['Attrition'], random_state=123)

In [215]:
# Average CV score on the training set was: 0.739327731092437
exported_pipeline = make_pipeline(
    MinMaxScaler(),
    MultinomialNB(alpha=0.1, fit_prior=False)
)

In [216]:
# Fix random state for all the steps in exported pipeline
set_param_recursive(exported_pipeline.steps, 'random_state', 123)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

In [220]:
exported_pipeline.score(testing_features,testing_target)

0.7336956521739131

In [224]:
chk_data = (testing_target,exported_pipeline.predict(testing_features))

In [226]:
accuracy_score(testing_target,exported_pipeline.predict(testing_features))

0.7336956521739131

In [227]:
recall_score(testing_target,exported_pipeline.predict(testing_features))

0.8333333333333334

In [229]:
precision_score(testing_target,exported_pipeline.predict(testing_features))

0.3076923076923077

In [230]:
roc_auc_score(testing_target,exported_pipeline.predict(testing_features))

0.7760416666666667

In [213]:
#mnb = MultinomialNB(alpha=0.1, fit_prior=False)
#mnb.fit(training_features, training_target)

In [212]:
#mnb.score(testing_features,testing_target)

In [234]:
#Save Model in Pickle file
model_pkl_file = 'emp_attrition_model.pkl'  

with open(model_pkl_file, 'wb') as file:  
    pickle.dump(exported_pipeline, file)